# GitLab Details
NUCLEUS_REGISTRY_USERNAME=changeme
NUCLEUS_REGISTRY_PASSWORD=changeme

# Secret Key
NUCLEUS_SECRET_KEY=changeme

# Docker
DOCKER_HOST=tcp://127.0.0.1:2376

# Postgres
NUCLEUS_DB_NAME=nucleus
NUCLEUS_DB_USERNAME=nucleus_app
NUCLEUS_DB_PASSWORD=changeme
MYSQL_DATABASE=nucleus # Should match NUCLEUS_DB_NAME
MYSQL_USER=nucleus_app # Should match NUCLEUS_DB_USERNAME
MYSQL_PASSWORD=changeme # Should match NUCLEUS_DB_PASSWORD
NUCLEUS_DB_HOST=db # Don't change.
NUCLEUS_DB_PORT=3306 # Don't change.

# Redis
NUCLEUS_REDIS_HOST=redis # Don't change.
NUCLEUS_REDIS_PORT=6379 # Don't change.
