# === GitLab Details ===
# Enter your GitLab login details (may require a personal
# access token for password) so that the application
# can connect to the GitLab registry and download the
# tests image.
NUCLEUS_REGISTRY_USERNAME=changeme
NUCLEUS_REGISTRY_PASSWORD=changeme

# === Secret Key ===
# Set the secret key that the application should use in production.
# See: http://www.miniwebtool.com/django-secret-key-generator/
NUCLEUS_SECRET_KEY=changeme

# === Docker ===
# Set the url to the docker host.
DOCKER_HOST=tcp://127.0.0.1:2376

# === Database ===
# Enter the database name that should be used for the
# application in MariaDB.
NUCLEUS_DB_NAME=nucleus
MYSQL_DATABASE=nucleus # Should match NUCLEUS_DB_NAME

# Enter the username of the user that should be used
# for the application's databases.
NUCLEUS_DB_USERNAME=nucleus_app
MYSQL_USER=nucleus_app # Should match NUCLEUS_DB_USERNAME

# Enter the password of the user that should be used for
# the application's databases.
NUCLEUS_DB_PASSWORD=changeme
MYSQL_PASSWORD=changeme # Should match NUCLEUS_DB_PASSWORD

# Enter the host and port for the database connection. You
# won't really want to change these as they are defined in
# the docker-compose.yml.
NUCLEUS_DB_HOST=db # Don't change.
NUCLEUS_DB_PORT=3306 # Don't change.

# === Redis ===
# Enter the host and port for the redis connection. You
# won't really want to change these as they are defined in
# the docker-compose.yml.
NUCLEUS_REDIS_HOST=redis # Don't change.
NUCLEUS_REDIS_PORT=6379 # Don't change.
