# === GitLab Details ===
# Enter your GitLab login details (may require a personal
# access token for password) so that the application
# can connect to the GitLab registry and download the
# tests image.
NUCLEUS_REGISTRY_USERNAME=changeme
NUCLEUS_REGISTRY_PASSWORD=changeme

# === Secret Key ===
# Set the secret key that the application should use in production.
# See: http://www.miniwebtool.com/django-secret-key-generator/
NUCLEUS_SECRET_KEY=changeme

# === Database ===
# Enter the database name that should be used for the
# application in MariaDB.
#
# These values must be the same.
# You don't need to change these values, they are optional.
NUCLEUS_DB_NAME=nucleus
MYSQL_DATABASE=nucleus

# Enter the username of the user that should be used
# for the application's databases.
#
# These values must be the same.
# You don't need to change these values, they are optional.
NUCLEUS_DB_USERNAME=nucleus_app
MYSQL_USER=nucleus_app

# Enter the password of the user that should be used for
# the application's databases.
#
# These values must be the same.
# You don't need to change these values, they are optional. You may want to for security though.
NUCLEUS_DB_PASSWORD=changeme
MYSQL_PASSWORD=changeme
