{% extends 'nucleus/base.html'  %}
{% load staticfiles %}

{% block title_block %}
  Students
{% endblock %}

{% block main_block %}
  <div class="cont">
    <h2>All Students</h2>

    {% if students %}
      <div>Number of registered students: {{ students|length }}/168</div>
      <div>Average number of tests passed: 50/69 </div>
      <div>
        <ul class="all_students">
          {% for student in students %}
            <li>
              {{ student.guid }} - {{ student.name }} - {{ student.score }}/69
            </li>
          {% endfor %}
        </ul>
      </div>
    {% else %}
      <strong>There are no registered students.</strong>
    {% endif %}
  </div>
{% endblock %}
