{% extends 'nucleus/base.html'  %}
{% load staticfiles %}

{% block title_block %}
  Students
{% endblock %}

{% block main_block %}
  <h2>All Students</h2>

  {% if students %}
    <div>Number of registered students: {{ students|length }}</div>
    <div>
      <ul>
        {% for student in students %}
          <li>
            {{ student }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <strong>There are no registered students.</strong>
  {% endif %}

{% endblock %}
