{% extends 'nucleus/base.html'  %}
{% load staticfiles %}

{% block title_block %}
  Students
{% endblock %}

{% block main_block %}
  <div class="card">
	<div class="card-block">
	  <h2 class="card-title">All Students</h2>
	  {% if students %}
		<div class="card-text">Number of registered students: {{ students|length }}/168</div>
		<div class="card-text">Average number of tests passed: 50/69 </div>
		<button type="button" class="btn btn-success btn-lg run_button">Run All Tests</button>

		<div class="list-group all_students">
		  {% for student in students %}
			<a class="list-group-item justify-content-between list-group-item-action">
			  {{ student.name }} ({{ student.guid }})
			  <span class="badge badge-default badge-pill"> {{ student.score }}/69 </span>
			</a>
		  {% endfor %}
		</div>
	  {% else %}
		<strong>There are no registered students.</strong>
	  {% endif %}
	</div>
  </div>
{% endblock %}
