{% extends 'layout/single-col.html'  %}
{% load staticfiles %}

{% block title %}Password Change{% endblock %}
{% block form %}
	{% if validlink %}
		<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

		<form class="form-password-change form-signin" id="password_change_form" method="post">
			{% csrf_token %}

			<div class="form-group{% if form.new_password1.errors %} has-danger{% endif %}">
				<input type="password" name="{{ form.new_password1.html_name }}" id="{{ form.new_password1.id_for_label }}" class="form-control mb-2">
				<label for="{{ form.new_password1.id_for_label }}" class="pull-left text-muted"><small>{{ form.new_password1.label }}</small></label>
				{% if form.new_password1.errors %}
					<div class="form-control-feedback">{{ form.new_password1.errors }}</div>
				{% endif %}
			</div>

			<div class="form-group{% if form.new_password2.errors %} has-danger{% endif %}">
				<input type="password" name="{{ form.new_password2.html_name }}" id="{{ form.new_password2.id_for_label }}" class="form-control mb-2">
				<label for="{{ form.new_password2.id_for_label }}" class="pull-left text-muted"><small>{{ form.new_password2.label }}</small></label>
				{% if form.new_password2.errors %}
					<div class="form-control-feedback">{{ form.new_password2.errors }}</div>
				{% endif %}
			</div>

			<input type="submit" class="btn btn-success btn-block mb-1 mt-3" value="Change my password">
		</form>
	{% else %}
		<p class="text-danger">The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
	{% endif %}
{% endblock %}
