@import "../../node_modules/font-awesome/scss/font-awesome.scss";
//@import "../../node_modules/bootstrap/scss/bootstrap.scss";


body{
    background-color: #f4f4f4;
}

.navbar-brand img{
  width: 200px;
}

.main{
    background-color: #fff;
    margin: 15px auto 50px auto;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.1);
    padding: 20px;
}

.run_button{
  width: 50%;
  margin: 0px auto 20px auto;
  display: block;
}

.list-group{
  border: none;
}

.test_data{
  font-size: 14px;
  color: grey;
}

.badge-pill{
  height: 20px;
}

.signin-col{
  height: 100vh;
  margin-top:-2.5em;
}

.form-signin{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-control{
  background-color: inherit;
  border: 0;
  border-bottom: 2px solid #d2d2d2;
  border-radius: 0px;

  &:focus{
    background-color: inherit;
    border-color: #2965b9;
    transition: 1s all ease;
  }
}
