@import "../../node_modules/font-awesome/scss/font-awesome.scss";
// @import "../../node_modules/bootstrap/scss/bootstrap.scss";


body{
    background-color: #f4f4f4;
}

.navbar-brand img{
  width: 200px;
}

.main{
    background-color: #fff;
    margin: 15px auto 50px auto;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.1);
    padding: 20px;
}

.run_button{
  width: 50%;
  margin: 0px auto 20px auto;
  display: block;
}

.list-group{
  border: none;
}

.test_data{
  font-size: 14px;
  color: grey;
}

.badge-pill{
  height: 20px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
