@import "../../node_modules/font-awesome/scss/font-awesome.scss";
//@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    background-color: #f4f4f4;
}

.navbar-brand img {
  width: 200px;
}

.main {
    background-color: #fff;
    margin: 15px auto 100px auto;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.1);
    padding: 20px;
}

.run_button {
  width: 50%;
  margin: 0px auto 20px auto;
  display: block;
}

.list-group {
  border: none;
}

.test_data {
  font-size: 14px;
  color: grey;
}

.badge-pill {
  height: 20px;
}

.signin-col {
  height: 100vh;
  margin-top:-2.5em;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-control {
  background-color: inherit;
  border: 0;
  border-bottom: 2px solid #d2d2d2;
  border-radius: 0px;
  position: relative;
}

.form-group {
    position: relative;
    padding-top: 16px;
    margin-bottom: 16px;
    label {
      position: absolute;
      top: -5px;
      left: 0;
      bottom: 0;
      z-index: 2;
      width: 100%;
      cursor: text;
      margin: 0;
      user-select: none;
      text-align: left;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0px;
        visibility: hidden;
        background-color:#2965b9;
        transition: 0.6s ease-in-out all;
      }
    }
    .form-control {
      &:focus {
        background-color: inherit;
        border-bottom: 2px solid #d2d2d2;
        ~ label {
          &:after {
            visibility: visible;
            width: 100%;
            left: 0;
          }
        }
      }
    }
  }

  .accountBox {
    border: 1px solid #d8d8d8;
    padding: 15px;

    .form-control:disabled {
      background-color:inherit;
      color: lighten(#636c72, 20%)
    }
  }
