<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head lang="en">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{% static 'css/style.min.css' %}" />
        <title>
            Nucleus -
            {% block title_block %}
            {% endblock %}
        </title>
    </head>

    <body>

        <nav class="navbar navbar-toggleable-sm navbar-light">
          <div class="container">
            <a class="navbar-brand ml-1" href="#"><img src="{% static 'images/nucleusLogo.svg' %}" alt="nucleus logo" class="img"/></a>
            <button class="navbar-toggler navbar-toggler-right mt-3 mr-2" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <!-- add if statement once there is authentication -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav ml-auto mt-1 mt-md-0">
                <a class="btn btn-secondary nav-item mr-2 " href="#" role="button">My Account</a>
                <a class="btn btn-secondary nav-item mr-2 " href="#" role="button">Logout</a>
              </ul>
            </div>
          </div>
        </nav>

        <div class="container">
            <div class="top">
                {% block  top_block %} <!-- return buttons/git submit -->
                {% endblock %}
            </div>

            <div class="main">
                {% block main_block %} <!-- main section of page -->
                {% endblock %}
            </div>
        </div>

        <script src="{% static 'js/script.min.js' %}"></script>
    </body>
</html>
