{% extends 'nucleus/base.html'  %}
{% load staticfiles %}

{% block title_block %}Login{% endblock %}

{% block main_block %}
	<h2>Register</h2>
	{% if registered %}
		<div>
			You are registered!<br>
			<a href="{% url 'sign_in' %}">Click here to sign in!</a>
		</div>
	{% else %}
		<form id="user_form" method="post" action="{% url 'register' %}">
			{% csrf_token %}
			{{ user_form.as_p }}
			<input type="submit" class="btn btn-success btn-lg register_button" value="Register" />
		</form>
	{% endif %}
{% endblock %}
