{% extends 'nucleus/single-col.html'  %}
{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block form %}
	<div class="container text-center">
		<form class="form-signin" id="user_form" method="post" action="{% url 'register' %}">
			{% csrf_token %}

			{% if registered %}
				<div>
					You are registered!<br>
					<a href="{% url 'sign_in' %}">Click here to sign in!</a>
				</div>

			{% else %}
				<div class="form-group">
			    <label for="emailInput" class="pull-left text-muted"><small>Student Email</small></label>
					{{ user_form.email }}
			  </div>
				<div class="form-group">
			    <label for="passInput" class="pull-left text-muted"><small>Password</small></label>
					{{ user_form.password }}
			  </div>
				<div class="form-group">
			    <label for="confirmPassInput" class="pull-left text-muted"><small>Confirm Password</small></label>
					{{ user_form.confirmPW }}
		  	</div>

				<input type="submit" class="btn btn-success btn-block" value="Register" />
				<small><a class="text-muted" href="{% url 'sign_in' %}">Already registered? Sign in</a></small>

			{% endif %}
		</form>
	</div>
{% endblock %}
