{% extends 'nucleus/base.html'  %}
{% load staticfiles %}

{% block title_block %}Sign In{% endblock %}

{% block main_block %}
	<div class="container text-center">
		<form class="form-signin" id="sign_in_form" method="post" action="{% url 'sign_in' %}">
			{% csrf_token %}

			<h2 class="mb-3">Sign In</h2>
			<strong>{{invalid}}</strong>

			<input type="text" name="email" placeholder="Student Email" class="form-control mb-2">
			<input type="password" name="password" placeholder="Password" class="form-control mb-3">
			<input type="submit" class="btn btn-success btn-block mb-1" value="Sign In">

			<small>
				<a class="text-muted" href="{% url 'register' %}">Register</a> &emsp;
				<a class="text-muted" href="{% url 'forgot_password' %}">Forgot Password?</a>
			</small>
		</form>
	</div>
{% endblock %}
