{% extends 'nucleus/base.html'  %}
{% load staticfiles %}

{% block title_block %}
  Students
{% endblock %}

{% block main_block %}
  <div class="card">
    <div class="card-block">
      <h2 class="card-title">All Students</h2>

      {% if students %}
        <div class="card-text">Number of registered students: {{ students|length }}/168</div>
        <div class="card-text">Average number of tests passed: 50/69 </div>
        <a role="button" class="btn btn-success btn-lg run_button" href="#">Run All Tests</a>

        <div class="list-group all_students">
          {% for student in students %}
            <a class="list-group-item justify-content-between list-group-item-action" href="#">
              {{ student.name }} ({{ student.guid }})
              <span class="badge badge-default badge-pill {% if student.score == 69 %} badge-success {% endif %}"> {{ student.score }}/69 </span>
            </a>
          {% endfor %}
        </div>
      {% else %}
        <strong>There are no registered students.</strong>
      {% endif %}
    </div>
  </div>
{% endblock %}
