{% extends 'nucleus/navigation.html' %}
{% load staticfiles %}

{% block main %}
    <div class="list-group">
    </div>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{testInfo.date}}</h5>
        
        </div>
        <p class="mb-1">Test Version: &ensp; {{testInfo.version}} &ensp;
                        Time Taken: &ensp; {{testInfo.timeTaken}} <br>
                        URL: &ensp; {{testInfo.url}}</p>
        
    </a>


    <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">Log</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Tests</a>
    </li>
    </ul>
    <div class="list-group">
    
    {% for test in tests %}
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{test.header}}</h5>
            <small class="text-muted">{{test.mark}}</small>
            </div>
            <p class="mb-1">{{test.description}}</p>
            
        </a>
    {% endfor %}

{% endblock %}