{% extends 'nucleus/navigation.html' %}
{% load staticfiles %}

{% block main %}

    
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{name}}</h5>
            <small class="badge badge-success badge-pill {% if passed != True %} badge-warning {% endif %}">{{passed}}</small>
            </div>
            <p class="mb-1">{{test.description}}</p>
        </a>

    </div>

    <div class = "container" color = "black">
        <pre><code>
            {{log}}
        </code></pre>
    </div>


{% endblock %}