{% extends 'nucleus/navigation.html' %}
{% load staticfiles %}

{% block main %}

    
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{test.header}}</h5>
            <small>{{test.mark}}</small>
            </div>
            <p class="mb-1">{{test.description}}</p>
        </a>

    </div>

    
    <div class="container" style="background-color: black; height: 800px; width: 1200px; color: white;">
        Error Log of All Tests Run!
    </div>


{% endblock %}