{% extends 'layout/single-col.html'  %}
{% load staticfiles %}

{% block title %}- My Account{% endblock %}

{% block form %}
  <div class="form-signin">
    <div class="accountBox">
      <div class="form-group">
        <input type="text" value="{{ email }}" id="accountEmail" class="form-control mb-2" disabled>
        <label for="accountEmail" class="pull-left text-muted"><small>Email</small></label>
      </div>
      <div class="form-group">
        <input type="password" value="***********" id="accountPass" class="form-control" disabled>
        <label for="accountPass" class="pull-left text-muted"><small>Password</small></label>
      </div>

      <a class="btn btn-success btn-block" href="{% url 'password_change' %}">Change Password</a>
    </div>

    {% if not user.is_staff %}
      <form class="accountBox mt-5" method="post" action="{% url 'account' %}">
        {% csrf_token %}
        <input type="hidden" name="{{ form.student_email.html_name }}" id="{{ form.student_email.id_for_label }}" value="{{ email }}" class="form-control mb-2">
        <div class="form-group">
          <input type="text" name="{{ form.repository_url.html_name }}" id="{{ form.repository_url.id_for_label }}" value="{{ repository_url }}" class="form-control mb-2">
  				<label for="{{ form.repository_url.id_for_label }}" class="pull-left text-muted"><small>{{ form.repository_url.label }}</small></label>
        </div>
        <button type="submit" class="btn btn-success btn-block">Update Repository URL</button>
      </form>
    {% endif %}

    <small>
      <a class="text-muted" href="{% url 'index' %}">Return To Tests</a> &emsp;
      <a class="text-muted" href="{% url 'user_logout' %}">Logout</a>
    </small>
  </div>

{% endblock %}
