{% extends 'layout/navigation.html'  %}
{% load staticfiles %}

{% block title %}- Students{% endblock %}

{% block main %}
  <div class="container">
    {% if students %}
      <div class="row">
        <div class="card w-100 mb-3 mt-3">
          <div class="card-block">
            <div class="row">
              <div class="col-md-8">
                <h2>All Students</h2>
                Number of registered students: {{ students|length }}<br>
                Average number of tests passed: {{ average }}/{{ totalTests }}
              </div>
              <div class="col-md-4 d-flex">
                <a role="button" class="btn btn-success btn-lg btn-block align-self-center" href="{% url 'run_all' %}">Run All Tests</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card w-100">
          <ul class="list-group list-group-flush">
            {% for student in students %}
              <li class="list-group-item list-group-item-action">
                <a class="w-100 d-flex justify-content-between nucleus-link" href="{% url 'student' student.guid %}">

                      <dt class="mt-1">{{ student.name }} ({{ student.guid }})</dt>

                      {% if student.max_score == -1 %}
                        <span class="badge badge-default badge-pill mt-1">N/A</span>
                      {% elif student.status == 'Complete' %}
                        <span class="badge badge-primary badge-pill mt-1 {% if student.score == student.max_score %} badge-success {% endif %}"><i class="fa fa-check" aria-hidden="true"></i> {{ student.score }}/{{ student.max_score }} </span>
                      {% else %}
                        <span class="badge badge-pill badge-warning status-check mt-1" id="status-{{ student.runid }}"><i class="fa fa-question" aria-hidden="true"></i> {{ student.status }} </span>
                      {% endif %}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% else %}
      <strong>There are no registered students.</strong>
    {% endif %}
  </div>

{% endblock %}
