{% extends 'layout/navigation.html'  %}
{% load staticfiles %}

{% block title %}
  - Student Tests
{% endblock %}

{% block top %}
  {% if user.is_staff %}
    <a href="{% url 'all_students' %}" role="button" class="btn btn-warning"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Return to All Students</a>
  {% endif %}
{% endblock %}

{% block main %}
  <div class="row align-items-center">
    <div class="col-md-4 mb-3">
      <h4>{{ student.name }} ({{ student.guid }})</h4>
    </div>
    <div class="col-md text-center mb-3">
      <form class="input-group" action="{% url 'student' student.guid %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="{{ form.student_email.html_name }}" id="{{ form.student_email.id_for_label }}" value="{{ student.email }}">
        <input type="text" name="{{ form.repository_url.html_name }}"
            id="{{ form.repository_url.id_for_label }}"
            value="{{ student.repository_url }}" class="form-control"
            placeholder="Enter Repository URL Here">
        <span class="input-group-btn">
          <button class="btn btn-success" id="runTests" type="submit">Run Tests</button>
        </span>
      </form>
    </div>
  </div>

  {% if tests %}
    <div class="list-group student_test_list">
      {% for test in tests %}
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">

          <div class="d-flex w-100 justify-content-between">
            <dt class="mb-1">{{ test.date }}</dt>
            {% if test.status == 'Complete' %}
              <span class="badge badge-default badge-pill {% if test.score == test.max_score %} badge-success {% endif %}"> {{ test.score }}/{{ test.max_score }} </span>
            {% else %}
              <span class="badge badge-pill badge-warning status-check" id="status-{{ test.id }}"> {{ test.status }} </span>
            {% endif %}
          </div>
          <div class="test_data">
            {% if test.status == "Complete" %}
              Test Version: &ensp; {{ test.version }}<br>
              Time Taken: &ensp; {{ test.time }}<br>
            {% endif %}
            Git URL: &ensp; {{ test.url }}
          </div>
        </a>
      {% endfor %}
    </div>
  {% else %}
    <strong>No tests have been ran for this student.</strong>
  {% endif %}

{% endblock %}
