{% extends 'layout/navigation.html' %}
{% load staticfiles %}

{% block top %}
    <a href="{% url 'testlog' guid runid %}" role="button" class="btn btn-warning"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Return to Test Run</a>
{% endblock %}

{% block main %}
  <div class="container">
    <div class="row">
      <div class="card w-100 mb-3 mt-3">
        <div class="card-block w-100 flex-column align-items-start d-flex">
          <div class=" d-flex justify-content-between w-100">
            <h4>{{ name }}</h4>
            <small class="badge badge-pill badge-danger">{{ passed }}</small></h4>
          </div>
          <div class="test_data">
            <div>{{ group }}</div>
            <div>{{ description }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card w-100">
        <div class="card-block">
          <h5 class="mb-2">Log</h5>
          <pre><code>{{ log }}</code></pre>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
