{% extends 'layout/navigation.html' %}
{% load staticfiles %}

{% block top %}
    <a href="{% url 'testlog' guid runid %}" role="button" class="btn btn-warning"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Return to Test Run</a>
{% endblock %}

{% block main %}


    <div class="list-group">
        <div class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{name}}</h5>
            <small class="badge badge-success badge-pill {% if passed != "Pass" %} badge-danger {% endif %}">{{passed}}</small>
            </div>
            <p class="mb-1">{{test.description}}</p>
        </div>

    </div>

    <div class = "container" color = "black">
        <pre><code>
            {{log}}
        </code></pre>
    </div>


{% endblock %}
