{% extends 'layout/base.html'  %}
{% load staticfiles %}

{% block body %}
  <div class="container pl-0 pr-0 mt-2">
    <nav class="navbar navbar-toggleable-sm navbar-light pl-0 pr-0">
      <a class="navbar-brand pl-0 mb-2" href="{% url 'index' %}"><img src="{% static 'images/nucleusLogo.svg' %}" alt="nucleus logo" class="img"/></a>

      <button class="navbar-toggler navbar-toggler-right mt-4" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto pl-2 pr-2">
          <a class="btn btn-secondary nav-item mr-1 ml-1 mb-2" href="{% url 'account' %}" role="button">My Account</a>
          <a class="btn btn-secondary nav-item mr-1 ml-1 mb-2" href="{% url 'user_logout' %}" role="button">Logout</a>
        </ul>
      </div>

    </nav>
  </div>

  <div class="container">
    {% block  top %} <!-- return buttons/git submit -->
    {% endblock %}

    <div class="{% if user.is_authenticated %} main {% endif %}">
      {% block main %} <!-- main section of page -->
      {% endblock %}
    </div>
  </div>
{% endblock %}
